.ewwbar {
  font-family: "scienerdtifica Nerd Font";
  background-color: $bg;
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;

  .group,
  .layout-button-box,
  .workspaces,
  .notification-icon-box {
    background-color: $bg-alt;
    padding: 0.4rem 1rem 0.4rem 1rem;
    border-radius: 0.6rem;
  }

  .power-icon,
  .focused,
  .updates-icon,
  .network-icon,
  .volume-icon,
  .notification-icon {
    font-size: 1.4rem;
  }

  .updates-text,
  .network-text {
    font-size: 1rem;
    font-weight: bold;
  }

  .power-icon {
    color: $red;
    margin-top: 0.1rem;

    &:hover {
      color: darken($color: $red, $amount: 10%);
    }
  }

  .layout-button {
    font-size: 1.6rem;
    color: $fg;
    background-color: $bg-alt;

    &:hover {
      color: lighten($color: $cyan, $amount: 2%);
    }
  }

  .workspaces {
    font-size: 1rem;

    .focused {
      color: $green;
    }

    .occupied {
      color: lighten($color: $gray, $amount: 25%);

      &:hover {
        color: rgba($green, 0.5);
      }
    }

    .empty {
      color: lighten($color: $black, $amount: 20%);

      &:hover {
        color: lighten($color: $black, $amount: 30%);
      }
    }

    .urgent {
      color: $green;
    }
  }

  .windowtitle {
    font-size: 1rem;
    font-weight: 500;
  }

  .updates-icon {
    margin-top: -.1rem;
    font-size: 1.55rem;
    color: $yellow;
  }

  .updates-text {
    margin-left: 0.3rem;
  }

  .volume-bar trough highlight {
    background: $green;
    border-radius: 1rem;
  }

  .volume-bar scale trough {
    all: unset;
    background-color: $black;
    border-radius: 1rem;
    min-height: 0.3rem;
    min-width: 5rem;
    margin-left: 0.3rem;
    box-shadow: 0px 0px 2px 1px rgba(black, 0.3);
  }

  .network-text {
    color: $fg;
    margin-left: 0.3rem;
  }

  .notification-icon {
    color: $fg;
  }

  .notification-count {
    font-family: SF Mono;
    color: $fg-alt;
    font-weight: bold;
  }

  .clock {
    font-family: SF Mono;

    .clock-hour {
      font-size: 1.2rem;
      font-weight: bold;
      color: $fg;
    }

    .clock-minute {
      font-size: 1.2rem;
      color: $fg-alt;
    }

    .clock-separator {
      font-size: 1.2rem;
      color: $fg-alt;
      margin-top: -0.1rem;
    }
  }

  .musicbar-art {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-width: 2.6rem;
    border-radius: 2rem;
  }

  .musicbar-title {
    font-size: 1rem;
    font-weight: bold;
    color: $fg;
  }

  .musicbar-toggle-icon {
    font-size: 1.25rem;
  }

  .musicbar-previous-icon,
  .musicbar-next-icon {
    font-size: 1rem;
  }

  .musicbar-previous-icon,
  .musicbar-next-icon,
  .musicbar-toggle-icon {
    color: $fg;

    &:hover {
      color: $magenta;
    }
  }
}
